<header class="main">
  <h1>haeh</h1>
  <link rel="stylesheet" href="/assets/styles/header.min.css">
</header>
<nav class="main" style="display: none">
  <a href="/">Home</a>
  <a href="/users.html">Users</a>
  <%
    do {
      try {
        username;
      } catch(err) {
        break;
      } %>
      <a href="/home.html">Profile</a>
      <a href="/chat.html">Chat</a>
  <% } while (false); %>
  <span style="flex: 1"></span>
  <%
    try {
      username; %>
      <a href="/logout">Log&nbsp;Out</a>
  <% } catch(err) { %>
      <a href="/login.html">Log&nbsp;In/Register</a>
  <% } %>
  <link rel="stylesheet" href="/assets/styles/nav.min.css" onload="$('nav.main').show()">
</nav>
